* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #1f1be6;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #202874;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #2b662b;
  color: white;
  margin-top: 20px;
}

.jogador {
  text-align: center;
  margin-bottom: 20px;
}

.jogador img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.jogador h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #006400;
}
